# Data
cases/*/data/raw/
cases/*/data/processed/
!cases/*/data/raw/.gitkeep
!cases/*/data/processed/.gitkeep

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
.env/

# DB
*.sqlite
*.db
